/* react-transition-group dropdown slide */
.dropdown-enter {
  opacity: 0;
  transform: translateY(-10px);
}
.dropdown-enter-active {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 200ms ease-out, transform 200ms ease-out;
}
.dropdown-exit {
  opacity: 1;
  transform: translateY(0);
}
.dropdown-exit-active {
  opacity: 0;
  transform: translateY(-10px);
  transition: opacity 200ms ease-out, transform 200ms ease-out;
}
